<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/Styless.css">
    <link rel="stylesheet" href="../../Css/normalize.css">
    <title>Derechos de Autor</title>
</head>
<body>
    <header>
        <!-- Con href debemos accedemos a un sitio con su protocolo de seguridad (http/https)-->
        <a href="https://www.google.com/" target="_blank">Home</a>
        <a href="Index.html" target="_self">Inicio</a>
        <a href="Home.html" target="_self">Acerca de</a>
        <a href="Perros.html" target="_self">Perros</a>
        <a href="Gatos.html" target="_self">Gatos</a>
        <a href="Productos.html" target="_self">Artículos en venta</a>
    </header>
    <main>
        <section class="imagen"><img src="../../Assets/Images/petShopImg.jpg" alt="" width="20%"></section>
        <h1>Patitas PetShop</h1>
        <h2>- Datos del Autor -</h2>
        <p>
            - Lourdes M. Del Valle P. <br>
            C.E.O. de Patitas PetShop <br>
            - Carné: 202008019 <br>
        </p>
        
    </main>
    <footer>
        <section>
            <a title="Clic para chatear" href=" https://api.whatsapp.com/send?phone=50249386307&text=Me%20gustaría%20saber%20sobre%20Promociones%20del%20Petshop " target="_blank" rel="noopener"> <img src="../../Assets/Images/whatsIcon.png"  alt="" width="5%">  
            </a>
            <a title="Clic para facebook" href="https://www.facebook.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/facebook_icon_130940.png"  alt="" width="5%">  
            </a>
            <a title="Clic para Twitter" href="https://twitter.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/logo_twitter.png.crdownload"  alt="" width="5%">  
            </a>
        </section>
        <h4> Derechos reservados Lourdes DV 2022 </h4> 
    </footer> 
</body>
</html>

<!-- 
    section: contenedor que agrupa contenido que tenga relación. Contiene varios artículos que tienen relación con lo mismo.

    article: Es un contenedor que representa contenido independiente.

    aside: Se utiliza para contener articles y representa todo lo seleccionado que no tiene relación con el contenido principal.

    Anidado: contenido dentro de algo más.
-->