<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/Styless.css">
    <link rel="stylesheet" href="../../Css/normalize.css">
    <title>Gatos</title>
</head>
<body>
    <header>
        <a href="https://www.google.com/" target="_blank">Home</a>
        <a href="Index.html" target="_self">Inicio</a>
        <a href="Home.html" target="_self">Acerca de</a>
        <a href="Perros.html" target="_self">Perros</a>
        <a href="Productos.html" target="_self">Artículos en venta</a>
        <a href="DerechosA.html" target="_self">Derechos de Autor</a>
    </header>
    <main>
        <section class="imagen"><img src="../../Assets/Images/petShopImg.jpg" alt="" width="20%"></section>
        <h1>Patitas PetShop</h1>
        <h2 id="Menu">Menú de navegación interna</h2>
        <div>
            <b>
                <a href="#GP">Gato Persa</a><br>
                <a href="#AT">Angora Turco</a><br>
                <a href="#RG">Ragdoll</a>
            </b>
        </div>
        <h1>Gatos</h1>
            <section>
                <h2 id="GP">Gato Persa</h2>
                <article>
                    <section class="imagen"><img src="../../Assets/Images/GatoPersa.png" alt="" width="30%"></section>
                    
                    <p>
                        El suave gato persa se encuentra entre las razas favoritas. Sorprende el hecho de que este gato, conocido en persa como Gorbe-ye irāni (gato iraní), pertenezca a las razas de gatos más antiguas, así como el hecho de que el gato persa que conocemos actualmente no proceda de Oriente.
                    </p>
                    <p>
                        El gato persa destaca por su pelaje largo y suave, con un manto inferior denso. Pero no todos los gatos de pelo largo son persas, de hecho estos gatos han de cumplir numerosos requisitos adicionales para satisfacer los estándares de la raza. El aspecto de los gatos persas está definido por 3 asociaciones de criadores diferentes, que priorizan características distintas. Por regla general, un gato persa ha de tener un tamaño mediano a grande. 
                    </p>
                    <h3>
                        Tamaño:
                    </h3>
                    <h4>Rango de peso: </h4><b>Machos:</b> (grandes) > 5 kg <br>
                    <b>Hembras: </b>(medianas) 3 - 5 kg<br>
                    <h3>
                        Expectativas:
                    </h3>
                    <b>Esperanza de vida: </b>8 - 11 años<br>
                    <b>Tendencia a perder pelo:</b> alta<br>
                    <h3>
                        Pelo:
                    </h3>
                    <b>Longitud: </b>Largo<br>
                    <b>Características:</b> Sedoso<br>
                    <b>Colores:</b> blanco, rojo, crema, negro, azul, chocolate, lila, plateado, dorado, cameo (chinchilla rojo), concha de tortuga, crema azul, marrón, calicó, seal (foca)<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9LlJvWTrR0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <a href="#Menu">Volver al Inicio</a>
                <h2 id="AT">Angora Turco</h2>
                <article>
                    <section class="imagen"><img src="../../Assets/Images/gato-angora-turco.jpg" alt="" width="30%"></section>
                    
                    <p>
                        Las investigaciones genéticas confirman que el angora turco es, efectivamente, una de las razas de gatos más antiguas del mundo. Su pelaje largo fue fruto de una mutación natural y no de la selección llevada a cabo por el hombre, un rasgo que diferencia la historia de su cría de la de otras muchas razas felinas.
                    </p>
                    <p>
                        El angora turco, denominado en Turquía Ankara kedisi, llegó incluso a considerarse gato nacional, y no es de extrañar, pues este felino elegante, fuerte, de hasta 5 kg de peso cautiva a muchos con un pelaje largo que se caracteriza por su tacto sedoso. Al no tener manto inferior, queda pegado al cuerpo y no supone un gran esfuerzo a la hora de cuidarlo. El clima de su lugar de origen es la razón por la cual, en invierno, desarrolla un pelo denso y tupido con un collar marcado, pero que en verano se vuelve corto, ligero y sedoso. Esta raza se adaptó perfectamente a los calurosos veranos y a los fríos inviernos de las zonas montañosas de Anatolia y el Cáucaso.
                    </p>
                    <h3>
                        Tamaño:
                    </h3>
                    <h4>Rango de peso: </h4><b>Machos:</b> (grandes) > 5 kg<br>
                    <b>Hembras: </b>3 - 5 kg<br>
                    <h3>
                        Expectativas:
                    </h3>
                    <b>Esperanza de vida: </b>9 - 14 años<br>
                    <b>Tendencia a perder pelo:</b> alta<br>
                    <h3>
                        Pelo:
                    </h3>
                    <b>Longitud: </b>Medio, largo<br>
                    <b>Características:</b> Sedoso<br>
                    <b>Colores:</b> blanco, rojo, crema, negro, azul, plateado, concha de tortuga, calicó, calicó diluido, azul crema<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mNcJCDZW4Xc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <a href="#Menu">Volver al Inicio</a>
                <h2 id="RG">Ragdoll</h2>
                <article>
                    <section class="imagen"><img src="../../Assets/Images/gato-ragdoll-veterinario.jpg" alt="" width="30%"></section>
                    
                    <p>
                        El ragdoll es un gato grande, con pecho ancho y cuerpo musculoso, que destaca por su pelaje suave. Este es de longitud media, sedoso y con poco subpelo, por lo que queda pegado al cuerpo. Esto le proporciona un aspecto de peluche que se ve reforzado por la gorguera, que presentan la mayoría de ejemplares.
                    </p>
                    <p>
                        El ragdoll es posiblemente el gato más tranquilo de todas las razas de gatos domésticos. Son gatos que se conforman bastante, no son exigentes y toleran la mayoría de las situaciones. Tienen un carácter muy tranquilo y relajado, lo que les convierte en mascotas fieles y entregadas. Hay quien cree que estos gatos son inmunes al dolor, pero esto es rotundamente falso. Su comportamiento relajado deriva de un carácter muy confiado y no de una ausencia de sensibilidad.
                    </p>
                    <h3>
                        Tamaño:
                    </h3>
                    <h4>Rango de peso: </h4><b>Machos:</b> (grandes) > 5 kg<br>
                    <b>Hembras: </b>(grandes) > 5 kg<br>
                    <h3>
                        Expectativas:
                    </h3>
                    <b>Esperanza de vida: </b>7 -12 años<br>
                    <b>Tendencia a perder pelo:</b> alta<br>
                    <h3>
                        Pelo:
                    </h3>
                    <b>Longitud: </b>Largo<br>
                    <b>Características:</b> Sedoso<br>
                    <b>Colores:</b> frost (gris claro), azul, chocolate, seal (foca), rojo, lila, azul crema, crema<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tuUcun2NZb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </article>
                <a href="#Menu">Volver al Inicio</a>
            </section>
            <h2>. </h2>
    </main>
    <footer>
        <section>
            <a title="Clic para chatear" href=" https://api.whatsapp.com/send?phone=50249386307&text=Me%20gustaría%20saber%20sobre%20Promociones%20del%20Petshop " target="_blank" rel="noopener"> <img src="../../Assets/Images/whatsIcon.png"  alt="" width="5%">  
            </a>
            <a title="Clic para facebook" href="https://www.facebook.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/facebook_icon_130940.png"  alt="" width="5%">  
            </a>
            <a title="Clic para Twitter" href="https://twitter.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/logo_twitter.png.crdownload"  alt="" width="5%">  
            </a>  
        </section>
        <h4> Derechos reservados Lourdes DV 2022 </h4> 
    </footer> 
</body>
</html>