<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/Styless.css">
    <link rel="stylesheet" href="../../Css/normalize.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <!-- Con href debemos accedemos a un sitio con su protocolo de seguridad (http/https)-->
        <a href="https://www.google.com/" target="_blank">Home</a>
        <a href="Home.html" target="_self">Acerca de</a>
        <a href="Perros.html" target="_self">Perros</a>
        <a href="Gatos.html" target="_self">Gatos</a>
        <a href="Productos.html" target="_self">Artículos en venta</a>
        <a href="DerechosA.html" target="_self">Derechos de Autor</a>
    </header>
    <main>
        <section class="imagen"><img src="../../Assets/Images/petShopImg.jpg" alt="" width="20%"></section>
        <h1>Bienvenidos a Patitas PetShop</h1>
        <section>
            <!-- <h1>Bienvenidos al PetShop</h1> -->
            <article>
                <!-- <h1>Bienvenidos al PetShop</h1> -->
                <p>
                    Esta es la mejor tienda de mascotas de toda la región. <br>
                    En ella encontrarás todo tipo de comidas y <br>
                    para tu mascota.
                </p>
            </article>
            <!-- al poner lorem: -->
            <!-- <article>
                <h1>Título de la sección dos</h1>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, magni! Corrupti non tempore aut est minus autem dignissimos fugit corporis assumenda deserunt, vero alias atque ea, iste numquam explicabo illum!</p>
            </article> -->
        <h2> </h2>
    </main>
    <footer>
        <section>
            <a title="Clic para chatear" href=" https://api.whatsapp.com/send?phone=50249386307&text=Me%20gustaría%20saber%20sobre%20Promociones%20del%20Petshop " target="_blank" rel="noopener"> <img src="../../Assets/Images/whatsIcon.png"  alt="" width="5%">  
            </a>
            <a title="Clic para facebook" href="https://www.facebook.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/facebook_icon_130940.png"  alt="" width="5%">  
            </a>
            <a title="Clic para Twitter" href="https://twitter.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/logo_twitter.png.crdownload"  alt="" width="5%">  
            </a>
        </section>
        <h4> Derechos reservados Lourdes DV 2022 </h4> 
    </footer> 
</body>
</html>

<!-- 
    section: contenedor que agrupa contenido que tenga relación. Contiene varios artículos que tienen relación con lo mismo.

    article: Es un contenedor que representa contenido independiente.

    aside: Se utiliza para contener articles y representa todo lo seleccionado que no tiene relación con el contenido principal.

    Anidado: contenido dentro de algo más.
-->