<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/Styless.css">
    <link rel="stylesheet" href="../../Css/normalize.css">
    <title>Perros
    </title>
</head>
<body>
    <header>
        <a href="https://www.google.com/" target="_blank">Home</a>
        <a href="Index.html" target="_self">Inicio</a>
        <a href="Home.html" target="_self">Acerca de</a>
        <a href="Gatos.html" target="_self">Gatos</a>
        <a href="Productos.html" target="_self">Artículos en venta</a>
        <a href="DerechosA.html" target="_self">Derechos de Autor</a>
    </header>
    <main>
        <section class="imagen"><img src="../../Assets/Images/petShopImg.jpg" alt="" width="20%"></section>
        <h1>Patitas PetShop</h1>
        <h2 id="Menu">Menú de navegación interna</h2>
        <div>
            <b>
                <a href="#SB">San Bernardo</a><br>
                <a href="#YT">Yorkshire terrier</a><br>
                <a href="#CC">Chow Chow</a>
            </b>
        </div>
        <h1>Perros</h1>
        <section>
            <section>
                <h2 id="SB">San Bernardo</h2>
                <article>
                    <section class="imagen"><img src="../../Assets/Images/San-bernardo.jpg" alt="" width="30%"></section>
                    
                    <p>
                        El San Bernardo es un perro de montaña poderoso, robusto y dotado de una gran inteligencia. Tranquilo, cariñoso con los niños y leal, es un compañero de vida sin igual. Es protector y prudente con desconocidos, pero jamás agresivo. Sus aptitudes lo convierten en el perro de búsqueda y rescate por excelencia. 
                    </p>
                    <p>
                        Los San Bernardo son una de esas razas imposibles de confundir, con unas proporciones enormes y una gran altura. Son perros musculosos con cabezas grandes e imponentes y pueden recorrer terrenos abruptos con movimientos calmados y suaves. Esta raza se presenta en color anaranjado, caoba atigrado, rojizo atigrado o blanco con manchas de estos colores. 
                    </p>
                    <h3>
                        Tamaño:
                    </h3>
                    <h4>Rango de peso: </h4><b>Machos:</b> 63 - 81 kg<br>
                    <b>Hembras: </b>54 - 63 kg
                    <h4>Altura a la cruz: </h4><b>Machos: </b>70 - 75 cm<br>
                    <b>Hembras: </b> 65 - 70 cm
                    <h3>
                        Expectativas:
                    </h3>
                    <b>Nivel de Energía:</b> Relajado<br>
                    <b>Esperanza de vida: </b>8 - 10 años<br>
                    <b>Tendencia a babear:</b> alta<br>
                    <b>Tendencia a roncar: </b>moderada<br>
                    <b>Tendencia a ladrar: </b>baja<br>
                    <b>Tendencia a excavar: </b>Baja<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bUGu4Hv7-SM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <a href="#Menu">Volver al Inicio</a>
                <h2 id="YT">Yorkshire terrier</h2>
                <article>
                    <section class="imagen"><img src="../../Assets/Images/Yorkie.jpg" alt="" width="20%"></section>
                    
                    <p>
                        De origen inglés y pequeñas dimensiones, el Yorkshire Terrier se caracteriza por ser una raza inteligente y con una fuerte personalidad. Su peso no suele superar los 3,2 Kg y, pese a entrar dentro de la categoría de perro de compañía, goza de un temperamento inquieto y muy activo.
                        Se aleja de lo que podría considerarse un perro “faldero”, llegando incluso a desarrollar comportamientos territoriales y cierta valentía cuando se cruza con perros de mayor tamaño.
                    </p>
                    <p>
                        Los cachorros de Yorkshire Terrier gozan de un pelaje abundante, fino y sedoso, cuya combinación de color negro, fuego y azul acero oscuro, los convierte en unos peludos adorables. Durante el primer año de vida necesitan canalizar su energía mediante el juego y los paseos diarios.
                    </p>
                    <h3>
                        Tamaño:
                    </h3>
                    <h4>Rango de peso: </h4><b>Machos:</b> 1 - 4 kg<br>
                    <b>Hembras: </b>1 - 4 kg
                    <h4>Altura a la cruz: </h4><b>Machos:</b> 17 cm<br>
                    <b>Hembras: </b>15 cm
                    <h3>
                        Expectativas:
                    </h3>
                    <b>Nivel de Energía:</b> Muy enérgico<br>
                    <b>Esperanza de vida: </b>14 - 16 años<br>
                    <b>Tendencia a babear:</b> baja<br>
                    <b>Tendencia a roncar: </b>baja<br>
                    <b>Tendencia a ladrar: </b>alta<br>
                    <b>Tendencia a excavar: </b>Baja<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/d_1TyXepyPY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <a href="#Menu">Volver al Inicio</a>
                <h2 id="CC">Chow Chow</h2>
                <article>
                    <section class="imagen"><img src="../../Assets/Images/ChowChow.jpeg" alt="" width="30%"></section>
                    
                    <p>
                        El Chow chow de pelo duro es un perro pequeño, compacto y cuadrado. Su cola se curva sobre el lomo. La parte interior de la boca y la lengua son de color azul/negro. Puede tener dos tipos de pelaje, duro o suave, y una amplia variedad de tonos (negro, rojizo, azul, beis, crema o blanco). 
                    </p>
                    <p>
                        El chow chow es un perro distante que puede resultar algo terco. A veces se encariña tanto con una persona que puede ladrar si siente que su dueño o él están en peligro. Pueden parecer un osito de peluche, pero no lo son. Los criadores han mejorado su temperamento en los últimos años y se cree que muchos chow chow de mal carácter son así porque no han recibido entrenamiento o socialización de cachorros. Estos problemas pueden evitarse siempre y cuando se les presenten los niños, los gatos y demás mascotas cuando aún son jóvenes.
                    </p>
                    <h3>
                        Tamaño:
                    </h3>
                    <h4>Rango de peso: </h4><b>Machos:</b> 24 - 34 kg<br>
                    <b>Hembras: </b>23 - 34 kg
                    <h4>Altura a la cruz: </h4><b>Machos:</b> 40 - 50 cm<br>
                    <b>Hembras: </b>40 - 50 cm
                    <h3>
                        Expectativas:
                    </h3>
                    <b>Nivel de Energía:</b> Relajado<br>
                    <b>Esperanza de vida: </b>10 - 12 años<br>
                    <b>Tendencia a babear:</b> Moderada<br>
                    <b>Tendencia a roncar: </b>De moderada a alta<br>
                    <b>Tendencia a ladrar: </b>Baja<br>
                    <b>Tendencia a excavar: </b>Baja<br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/J7UQj_90uIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <a href="#Menu">Volver al Inicio</a>
            </section>
            <h2> </h2>
    </main>
    <footer>
        <section>
            <a title="Clic para chatear" href=" https://api.whatsapp.com/send?phone=50249386307&text=Me%20gustaría%20saber%20sobre%20Promociones%20del%20Petshop " target="_blank" rel="noopener"> <img src="../../Assets/Images/whatsIcon.png"  alt="" width="5%">  
            </a>
            <a title="Clic para facebook" href="https://www.facebook.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/facebook_icon_130940.png"  alt="" width="5%">  
            </a>
            <a title="Clic para Twitter" href="https://twitter.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/logo_twitter.png.crdownload"  alt="" width="5%">  
            </a>
        </section>
        <h4> Derechos reservados Lourdes DV 2022 </h4> 
    </footer> 
</body>
</html>