<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Css/Styless.css">
    <link rel="stylesheet" href="../../Css/normalize.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <a href="https://www.google.com/" target="_blank">Home</a>
        <a href="Index.html" target="_self">Inicio</a>
        <a href="Home.html" target="_self">Acerca de</a>
        <a href="Perros.html" target="_self">Perros</a>
        <a href="Productos.html" target="_self">Artículos en venta</a>
        <a href="DerechosA.html" target="_self">Derechos de Autor</a>
    </header>
    <main>
        <section class="imagen"><img src="../../Assets/Images/petShopImg.jpg" alt="" width="20%"></section>
        <h1>Patitas PetShop</h1>
        <h2 id="Menu">Menú de navegación interna</h2>
        <div>
            <b>
                <a href="#CP">Comida para perro</a><br>
                    <a href="#PPP"> -  Purina Pro Plan</a><br>
                    <a href="#BW"> -  Blackwood</a><br>
                    <a href="#DN"> -  Diamond Naturals</a><br>
                <a href="#CG">Comida para Gatos</a><br>
                    <a href="#PCC"> -  Purina Deli Mix Cat Chow</a><br>
                    <a href="#FMM"> -  Felix MegaMix</a><br>
                    <a href="#WK"> -  Whiskas</a><br>
            </b>
        </div>
        <a href="../../Assets/Docs/CATÁLOGO_LourdesDelValle.pdf" download> Clic para descargar el catálogo</a>
       
        <h1 id="CP">Comida para Perros</h1>
        <a href="#Menu">Volver al Inicio</a>
            <section>
                <section>
                    <h2 id="PPP">Purina Pro plan</h2>
                    <article>
                        <section class="imagen"><img src="../../Assets/Images/PurinaProPlanPerros.jpg" alt="" width="30%"></section>
                        
                        <p>
                            De acuerdo con Dog Food Advisor la marca Pro Plan tiene 4 de 5 estrellas en la categoría de croquetas para perro. Purina Pro Plan es una compañía que ofrece ingredientes de calidad: granos, verduras y carne de fuentes de confianza. Purina elabora cada fórmula de comida para perros en instalaciones de los Estados Unidos.
                        </p>
                        <p>
                            Purina Pro Plan está especialmente formulada para satisfacer las necesidades digestivas, cutáneas y del pelaje de perros jóvenes y viejos. La comida de un perro no solo los afecta físicamente, sino que les quita la calidad de vida. Puede encontrar diferentes opciones de carne para satisfacer las necesidades de las preferencias de su perro.
                        </p>
                    </article>
                    <a href="#Menu">Volver al Inicio</a>
                    <h2 id="BW">Blackwood</h2>
                    <article>
                        <section class="imagen"><img src="../../Assets/Images/blackwood.jpg" alt="" width="30%"></section>
                        
                        <p>
                            De acuerdo con Dog Food Advisor la marca Blackwood tiene 4.5 de 5 estrellas en la categoría de croquetas para perro. Blackwood no solo se preocupa por usar los ingredientes Ultra Premium, también se preocupa por cocinar especialmente sus recetas a bajas temperaturas para mantener la calidad de cada fórmula. Cocinar de esta manera ayuda a su perro a maximizar la absorción de nutrientes en cada bocado, porque absorben el 94%.
                        </p>
                        <p>
                            Blackwood usa ingredientes que otros alimentos para perros no usan, pero es a través de la investigación y la mejora constante que se agregan ingredientes que tu perrito adorará como la calabaza, apio, chile/pimiento rojo, betabel, etc. a las diferentes fórmulas.
                        </p>
                    </article>
                    <a href="#Menu">Volver al Inicio</a>
                    <h2 id="DN">Diamond Naturals</h2>
                    <article>
                        <section class="imagen"><img src="../../Assets/Images/DiamondNaturals.jpg" alt="" width="30%"></section>
                        
                        <p>
                            De acuerdo con Dog Food Advisor la marca Diamond Naturals tiene 4.5 de 5 estrellas en la categoría de croquetas para perro. Es importante mencionar que es considerada una marca Holística, es decir, son alimentos naturales con alto valor nutricional. Incluye ingredientes naturales, también fuentes de nutrientes esenciales, tales como antioxidantes, vitaminas, minerales, ácidos grasos, y proteínas, obteniendo como resultado un alimento natural y completo para la nutrición de sus mascotas.
                        </p>
                        <p>
                            El alimento que te recomendamos es la fórmula ligera para adultos con sabor a cordero y arroz, que hará que tu perro tenga energía, huesos fuertes y pelaje saludable.
                        </p>
                    </article>
                    <a href="#Menu">Volver al Inicio</a>
                </section>
                <h1 id="CG">Comida para Gatos</h1>
                <a href="#Menu">Volver al Inicio</a>
                <section>
                    <h2 id="PCC">Purina Deli Mix Cat Chow</h2>
                    <article>
                        <section class="imagen"><img src="../../Assets/Images/PurinaDeliMixCatChow.jpg" alt="" width="30%"></section>
                        
                        <p>
                            El alimento de Purina Cat Chow para adultos versión Delimix contiene tres fuentes de proteína distintas ya que está hecho con pollo, carne de res y salmón que ayudarán a tu gato a conservar su masa muscular. También tiene vitaminas A, vitamina C y vitamina E. Contiene minerales como Selenio y Zinc que ayudan a mantener la visión de tu gato.
                        </p>
                        <p>
                            Además, Cat Chow provee de antioxidantes y por si fuera poco mejorar su sistema inmune y produce una piel y pelaje saludables. Contiene también maíz amarillo, gluten de maíz, harina de soya, arroz, trigo. Es un alimento de gama media alta con el que tu gato estará satisfecho por ser delicioso y además le generará un estado óptimo de salud.
                        </p>
                    </article>
                    <a href="#Menu">Volver al Inicio</a>
                    <h2 id="FMM">Felix MegaMix</h2>
                    <article>
                        <section class="imagen"><img src="../../Assets/Images/Felix-Megamix-Croquetas-Gato-Adulto-x-10kg-001.jpg" alt="" width="30%"></section>
                        
                        <p>
                            El alimento Felix es una excelente marca que ha conseguido prestigio con el paso del tiempo. La presente versión está hecha con maíz, harina de soya, gluten de maíz, harina de carne y huesos de res, trigo, harina de menudencias de pollo, harina de atún, salmón, pavo y camarón. Tiene nueva y fresca fórmula que gustará a tu gato como nunca.
                        </p>
                        <p>
                            El alimento Felix se encuentra 100% completo y balanceado con proteínas de calidad, por ende, no harán falta nutrientes a tu mascota. Contiene una combinación de 7 proteínas. El producto se encuentra entre los más vendidos de estados unidos. El tamaño del producto es de 1.5 Kg. Tiene vitamina A, D3, E y K3 así como minerales (hierro, etc.).
                        </p>
                    </article>
                    <a href="#Menu">Volver al Inicio</a>
                    <h2 id="WK">Whiskas</h2>
                    <article>
                        <section class="imagen"><img src="../../Assets/Images/whiskas-gatito-carne-y-leche-1-kg.jpg" alt="" width="30%"></section>
                        
                        <p>
                            Whiskas es una marca de alimentación para gatos de presencia global y filial del grupo estadounidense Mars Incorporated. Los productos de Whiskas se fabrican en Melton Mowbray en el Reino Unido. La marca se creó en 1936 con el nombre Kal Kan, que se cambió por el actual, Whiskas, en 1988 con el fin de su comercialización en el extranjero.
                        </p>
                    </article>
                    <a href="#Menu">Volver al Inicio</a>
                </section>
            </section>
    </main>
    <footer>
        <section>
            <a title="Clic para chatear" href=" https://api.whatsapp.com/send?phone=50249386307&text=Me%20gustaría%20saber%20sobre%20Promociones%20del%20Petshop " target="_blank" rel="noopener"> <img src="../../Assets/Images/whatsIcon.png"  alt="" width="5%">  
            </a>
            <a title="Clic para facebook" href="https://www.facebook.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/facebook_icon_130940.png"  alt="" width="5%">  
            </a>
            <a title="Clic para Twitter" href="https://twitter.com/" target="_blank" rel="noopener"> <img src="../../Assets/Images/logo_twitter.png.crdownload"  alt="" width="5%">  
            </a>
        </section>
        <h4> Derechos reservados Lourdes DV 2022 </h4> 
    </footer> 
</body>
</html>