*{
    background-color: #FFF9EF;
    text-align: center;
}
.NAVBAR{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E9D8D1;
    color: white;
}
h1{
    background-color: #E4CA81;
}
h2{
    background-color: #C17C6C;
}